* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* ///////////////////////// START HEADER //////////////////////////// */
/* /////////////////////////// END HEADER //////////////////////////// */


/* ///////////////////////// START NAVBAR //////////////////////////// */
/* /////////////////////////// END NAVBAR //////////////////////////// */

/* ///////////////////////// START HERO //////////////////////////// */
/* /////////////////////////// END HERO //////////////////////////// */

/* ///////////////////////// START MAIN //////////////////////////// */
/* /////////////////////////// END MAIN ///////////////////////////// */

/* ///////////////////////// START FOOTER //////////////////////////// */
/* /////////////////////////// END FOOTER //////////////////////////// */